Repository sneakyb1t/packer-proxmox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-debian12, build-ubuntu2204, build-rocky8, build-rocky9, build-rhel8, build-rhel9, build-coreos, build-flatcar

build-debian12:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: debian/12

build-ubuntu2204:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: ubuntu/22.04

build-rocky8:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: rocky/8.7

build-rocky9:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: rocky/9.2

build-rhel8:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: rhel/8.9

build-rhel9:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: rhel/9.3

build-coreos:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: coreos/38

build-flatcar:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: flatcar/stable

fix(ansible): escalate to root in role execution
  site.yml
Due: none

feat(openscap): add ansible role for remediation
  debian/12/debian.pkr.hcl
  debian/12/http/ks.pkrtpl.hcl
  rocky/8.7/rocky.pkr.hcl
  rocky/9.2/rocky.pkr.hcl
  rocky/9.2/variables.pkr.hcl
  roles/openscap/tasks/openscap.yml
  site.yml
  ubuntu/22.04/variables.pkr.hcl
Due: build-debian12, build-ubuntu2204, build-rocky8, build-rocky9

fix(rocky): remove variable
  rocky/9.2/variables.pkr.hcl
Due: build-rocky9

docs: add readme section for openscap
  README.md
  roles/openscap/README.md
  roles/openscap/defaults/main.yml
Due: none

feat: ansible openscap provisioning
  .gitlab-ci.yml
  common.pkrvars.hcl.example
Due: none

fix: exclude ansible role folder from validation
  .gitlab-ci.yml
Due: none

feat(ubuntu): change language of install value
  common.pkrvars.hcl.example
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat(rocky): add efi - add cpu vars
  rocky/9.1/rocky.pkr.hcl
  rocky/9.1/variables.pkr.hcl
Due: none

refactor: normalization
  debian/11/debian.auto.pkrvars.hcl.example
  debian/11/debian.pkr.hcl
  debian/11/http/ks.pkrtpl.hcl
  debian/11/variables.pkr.hcl
  rocky/9.1/rocky.auto.pkrvars.hcl.example
  rocky/9.1/rocky.auto.pkvars.hcl.example
  rocky/9.1/rocky.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl.example
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

refactor: use same variable file everywhere
  debian/11/variables.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat(debian): change to ext4 - update debian 11.7
  debian/11/debian.auto.pkrvars.hcl.example
  debian/11/http/ks.pkrtpl.hcl
Due: none

fix(rocky): change partitioning values and update
  rocky/9.1/http/inst.ks.hcl
  rocky/9.1/rocky.pkr.hcl
  rocky/9.1/variables.pkr.hcl
Due: none

feat: openscap with scan and remediation feature
  debian/11/debian.auto.pkrvars.hcl.example
  debian/11/debian.pkr.hcl
  debian/11/http/ks.pkrtpl.hcl
  debian/11/openscap.sh
  rhel/8.7/http/inst.ks.hcl
  rhel/8.7/openscap.sh
  rhel/8.7/rehl.auto.pkrvars.hcl.example
  rhel/8.7/rhel.pkr.hcl
  rhel/9.1/http/inst.ks.hcl
  rhel/9.1/openscap.sh
  rhel/9.1/rhel.pkr.hcl
  rhel/9.1/variables.pkr.hcl
  rocky/8.7/http/inst.ks.hcl
  rocky/8.7/openscap.sh
  rocky/8.7/rocky.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/openscap.sh
  rocky/9.1/rocky.auto.pkrvars.hcl.example
  rocky/9.1/rocky.pkr.hcl
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/openscap.sh
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl.example
Due: build-rocky8

feat: add packer init file docs: update README
  README.md
  common.pkrvars.hcl.example
  debian/11/debian.pkr.hcl
  require.pkr.hcl
  rhel/8.7/rehl.pkr.hcl
  rocky/9.1/rocky.pkr.hcl
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat(rocky): change to efi
  rocky/9.1/http/inst.ks.hcl
  rocky/9.1/rocky.pkr.hcl
Due: none

feat: add rhel8 support
  debian/11/http/ks.pkrtpl.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/http/inst.ks.hcl
  rhel/8.7/rehl.auto.pkrvars.hcl.example
  rhel/8.7/rehl.pkr.hcl
  rhel/8.7/variables.pkr.hcl
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

fix: change memory values
  debian/11/variables.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

docs: add default vm vars
  common.pkrvars.hcl.example
Due: none

fix(ubuntu): change usr default size
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat(debian): add debian 11 support
  debian/11/debian.auto.pkrvars.hcl.example
  debian/11/debian.pkr.hcl
  debian/11/http/ks.pkrtpl.hcl
  debian/11/variables.pkr.hcl
Due: none

feat: openscap scan and remediation feature for debian11
  debian/11/debian.pkr.hcl
  debian/11/openscap.sh
  rhel/8.7/rhel.pkr.hcl
  rhel/9.1/rhel.pkr.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
Due: build-ubuntu2204

docs: update README
  README.md
Due: none

feat: openscap ok except rhel(subscription)
  rhel/8.7/http/inst.ks.hcl
  rhel/9.1/openscap.sh
  rhel/9.2/http/inst.ks.hcl
  rhel/9.2/openscap.sh
  rhel/9.2/rhel.pkr.hcl
  rhel/9.2/variables.pkr.hcl
  rocky/8.7/http/inst.ks.hcl
  rocky/8.7/openscap.sh
  rocky/8.7/rocky.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/http/inst.ks.hcl
  rocky/9.1/openscap.sh
  rocky/9.1/rocky.pkr.hcl
  rocky/9.1/variables.pkr.hcl
Due: build-rocky8

fix(debian): mix keyboard vm language locale
  debian/11/http/ks.pkrtpl.hcl
Due: none

chore(coreos): remove ign files
  coreos/38/config/installer.ign
  coreos/38/config/template.ign
Due: none

feat: add variables to ignition files feat: add installer ignition file
  .gitignore
  coreos/38/config/installer.ign.hcl
  coreos/38/config/template.ign.hcl
  coreos/38/coreos.pkr.hcl
Due: build-coreos

fix(coreos): change config file
  coreos/38/coreos.pkr.hcl
Due: build-coreos

fix(vars): add private key var
  coreos/38/coreos.pkr.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/variables.pkr.hcl
  rhel/9.2/variables.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204, build-rocky8, build-coreos

refactor: remove auto files from gitignore fix(debian): change partitioning default feat: add default vars
  .gitignore
  debian/11/debian.auto.pkrvars.hcl
  debian/11/http/ks.pkrtpl.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/rhel.auto.pkrvars.hcl
  rhel/9.2/rhel.auto.pkrvars.hcl
  rocky/8.7/rocky.auto.pkrvars.hcl
  rocky/9.1/rocky.auto.pkrvars.hcl
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl
Due: build-ubuntu2204, build-rocky8

docs: instructions for coreos config
  .gitignore
  README.md
  coreos/38/config/installer.bu.example
  coreos/38/config/template.bu.example
Due: none

feat(ci): build template if modified
  .gitlab-ci.yml
  common.pkrvars.hcl.example
  coreos/38/coreos.pkr.hcl
  coreos/38/variables.pkr.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/variables.pkr.hcl
  rhel/9.2/variables.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/openscap.sh
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204, build-rocky8, build-coreos

feat(coreos): add ssh key var
  coreos/38/coreos.pkr.hcl
  coreos/38/variables.pkr.hcl
Due: build-coreos

feat: add coreos compatibility
  coreos/38/config/installer.bu
  coreos/38/config/installer.ign
  coreos/38/config/template.bu
  coreos/38/config/template.ign
  coreos/38/coreos.auto.pkrvars.hcl
  coreos/38/coreos.pkr.hcl
  coreos/38/variables.pkr.hcl
Due: build-coreos

docs: add ssh private key var in template
  common.pkrvars.hcl.example
Due: none

feat(var): add boot_wait var
  coreos/38/coreos.pkr.hcl
  coreos/38/variables.pkr.hcl
  debian/11/debian.pkr.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/rhel.pkr.hcl
  rhel/8.7/variables.pkr.hcl
  rhel/9.2/rhel.pkr.hcl
  rhel/9.2/variables.pkr.hcl
  rocky/8.7/rocky.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/rocky.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204, build-rocky8, build-coreos

refactor(openscap): update script and html reports
  debian/11/openscap.sh
  rocky/8.7/openscap.sh
  rocky/9.1/openscap.sh
  ubuntu/22.04/openscap.sh
Due: none

feat: add variables to ignition files
  coreos/38/coreos.pkr.hcl
Due: build-coreos

fix(vars): add private key var
  coreos/38/coreos.pkr.hcl
Due: build-coreos

fix: syntax issue for ssh key
  coreos/38/coreos.pkr.hcl
Due: build-coreos

Path conditions:
  build-debian12: any of: debian/12/**.hcl
  build-ubuntu2204: any of: ubuntu/22.04/**.hcl
  build-rocky8: any of: rocky/8.7/**.hcl
  build-rocky9: any of: rocky/9.2/**.hcl
  build-rhel8: any of: rhel/8.9/**.hcl
  build-rhel9: any of: rhel/9.3/**.hcl
  build-coreos: any of: coreos/38/**.hcl
  build-flatcar: any of: flatcar/stable/**.hcl
