Repository sneakyb1t/packer-proxmox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-debian12, build-ubuntu2204, build-rocky8, build-rocky9, build-rhel8, build-rhel9, build-coreos, build-flatcar

.gitlab-ci.yml:

image:
  name: hashicorp/packer:1.10.0
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

variables:
  vars_file: "/home/gitlab-runner/data/secrets/packer-proxmox-vars.sh"

before_script:
  - packer --version
  - find . -maxdepth 2 -mindepth 2 -type d \( -not -path "./.git/*" -and -not -path "./roles/*" \) -exec packer init {} \;

stages:
  - prerequisites
  - validate
  - build

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: $GITLAB_USER_ID == "120697"
      variables:
        RUNNER_TAG: "vle-home-shell"
    - if: $GITLAB_USER_ID == "3975485"
      variables:
        RUNNER_TAG: "sasal-home-shell"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH || $CI_COMMIT_TAG || $CI_OPEN_MERGE_REQUESTS'

# Template build for all OS
.template:build:
  stage: build
  tags: [$RUNNER_TAG]
  needs:
    - job: load_vars
  script:
    - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH

# Load required variables for build
load_vars:
  stage: prerequisites
  tags: [$RUNNER_TAG]
  script:
    - |
      echo "Load vars file if present"
      [ -e $vars_file ] && set -a && . $vars_file || echo "no var file found"
      echo "Generate common vars file"
      envsubst < "common.pkrvars.hcl.example" > "common-ci.pkrvars.hcl"
  artifacts:
    untracked: true
    paths:
      - common-ci.pkrvars.hcl

# Validate syntax before trying to build
validate:
  stage: validate
  tags:
    - $RUNNER_TAG
  script:
    - find . -maxdepth 2 -mindepth 2 -type d \( -not -path "./.git/*" -and -not -path "./roles/*" \) |
      xargs -I {} bash -c "echo 'Validating {}' && packer validate -no-warn-undeclared-var -only=proxmox-iso* -var-file=common-ci.pkrvars.hcl {}"
  needs:
    - job: load_vars

# Build section for each OS
build-debian12:
  extends: .template:build
  variables:
    BUILD_PATH: "debian/12"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - debian/12/**.hcl

build-ubuntu2204:
  extends: .template:build
  variables:
    BUILD_PATH: "ubuntu/22.04"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - ubuntu/22.04/**.hcl

build-rocky8:
  extends: .template:build
  variables:
    BUILD_PATH: "rocky/8.7"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - rocky/8.7/**.hcl

build-rocky9:
  extends: .template:build
  variables:
    BUILD_PATH: "rocky/9.2"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - rocky/9.2/**.hcl

build-rhel8:
  extends: .template:build
  variables:
    BUILD_PATH: "rhel/8.9"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - rhel/8.9/**.hcl

build-rhel9:
  extends: .template:build
  variables:
    BUILD_PATH: "rhel/9.3"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - rhel/9.3/**.hcl

build-coreos:
  extends: .template:build
  variables:
    BUILD_PATH: "coreos/38"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - coreos/38/**.hcl

build-flatcar:
  extends: .template:build
  variables:
    BUILD_PATH: "flatcar/stable"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - flatcar/stable/**.hcl

build_all:
  stage: build
  tags: [$RUNNER_TAG]
  script:
    - |
      for folder in $(find . -type d -name '[0-9]*' \( -not -path "./.git/*" -and -not -path "./roles/*" \)); do
        packer build -force -var-file=common-ci.pkrvars.hcl $folder
      done
  needs:
    - job: load_vars
  when: manual

trigger CI
  README.md
Due: none

use sasal runner
  .gitlab-ci.yml
Due: none

change boot wait for rhel
  rhel/8.9/variables.pkr.hcl
  rhel/9.3/variables.pkr.hcl
Due: build-rhel8, build-rhel9

correct rhel 8 memory value
  rhel/8.9/variables.pkr.hcl
  rhel/9.3/variables.pkr.hcl
Due: build-rhel8, build-rhel9

update ubuntu image
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl
Due: build-ubuntu2204

reduc size rhel vm
  rhel/8.9/rhel.auto.pkrvars.hcl
  rhel/9.3/rhel.auto.pkrvars.hcl
Due: build-rhel8, build-rhel9

feat(proxmox): separate iso from datastore
  common.pkrvars.hcl.example
  coreos/38/coreos.pkr.hcl
  coreos/38/variables.pkr.hcl
  debian/12/debian.pkr.hcl
  debian/12/variables.pkr.hcl
  flatcar/stable/flatcar.pkr.hcl
  rocky/8.7/rocky.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.2/rocky.pkr.hcl
  rocky/9.2/variables.pkr.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-debian12, build-ubuntu2204, build-rocky8, build-rocky9, build-coreos, build-flatcar

fix(packer): missing variable
  flatcar/stable/variables.pkr.hcl
Due: build-flatcar

fix(rhel): change iso path
  rhel/8.9/rhel.pkr.hcl
  rhel/8.9/variables.pkr.hcl
  rhel/9.3/rhel.pkr.hcl
  rhel/9.3/variables.pkr.hcl
Due: build-rhel8, build-rhel9

fix(rocky): change iso version
  rocky/8.7/rocky.auto.pkrvars.hcl
  rocky/8/http/inst.ks.hcl
  rocky/8/rocky.auto.pkrvars.hcl
  rocky/8/rocky.pkr.hcl
  rocky/8/variables.pkr.hcl
  rocky/9.2/rocky.auto.pkrvars.hcl
  rocky/9/http/inst.ks.hcl
  rocky/9/rocky.auto.pkrvars.hcl
  rocky/9/rocky.pkr.hcl
  rocky/9/variables.pkr.hcl
Due: build-rocky8, build-rocky9

fix(coreos): change iso version
  coreos/38/coreos.auto.pkrvars.hcl
  debian/12/debian.auto.pkrvars.hcl
Due: build-debian12, build-coreos

fix(coreos): change coreos folder name
  coreos/stable/README.md
  coreos/stable/config/installer.bu.example
  coreos/stable/config/installer.ign
  coreos/stable/config/installer.ign.hcl
  coreos/stable/config/template.bu.example
  coreos/stable/config/template.ign.hcl
  coreos/stable/coreos.auto.pkrvars.hcl
  coreos/stable/coreos.pkr.hcl
  coreos/stable/variables.pkr.hcl
Due: none

feat(ci): manual template build
  .gitlab-ci.yml
Due: none

fix(rocky): change default memory
  rocky/8/variables.pkr.hcl
  rocky/9/variables.pkr.hcl
Due: none

chore(ci): change runner for vle
  .gitlab-ci.yml
Due: none

feat(debian): change apt mirror
  debian/12/http/ks.pkrtpl.hcl
  debian/12/variables.pkr.hcl
Due: build-debian12

fix(ci): change rocky path
  .gitlab-ci.yml
Due: none

fix(ci): change coreos path
  .gitlab-ci.yml
Due: none

feat(rocky): add home partition
  rocky/8/http/inst.ks.hcl
  rocky/8/rocky.pkr.hcl
  rocky/8/variables.pkr.hcl
  rocky/9/http/inst.ks.hcl
  rocky/9/rocky.pkr.hcl
  rocky/9/variables.pkr.hcl
Due: none

feat(rhel): add home partition
  rhel/8.9/http/inst.ks.hcl
  rhel/8.9/rhel.pkr.hcl
  rhel/8.9/variables.pkr.hcl
  rhel/9.3/http/inst.ks.hcl
  rhel/9.3/rhel.pkr.hcl
  rhel/9.3/variables.pkr.hcl
Due: build-rhel8, build-rhel9

fix: increase default disk size
  debian/12/variables.pkr.hcl
Due: build-debian12

feat(ci): remove runners definition
  .gitlab-ci.yml
Due: none

fix(vars): add vm net var to template file
  common.pkrvars.hcl.example
Due: none

docs: add code of conduct
  CODE_OF_CONDUCT.md
Due: none

docs: add MIT license
  LICENSE
Due: none

Initial commit
  .gitignore
  common.pkrvars.hcl.example
  ubuntu/22.04/http/meta-data
  ubuntu/22.04/http/user-data
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat(ubuntu): autoinstall and partitioning
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
Due: build-ubuntu2204

docs: update common var file template
  common.pkrvars.hcl.example
Due: none

docs: add README and example file
  README.md
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl.example
Due: none

feat: add packer vars
  common.pkrvars.hcl.example
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl.example
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat: add default vars
  common.pkrvars.hcl.example
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl.example
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat(ubuntu): ubuntu 22.04 support
  common.pkrvars.hcl.example
  ubuntu/22.04/http/user-data
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl.example
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

refact: move vm_memory to vm vars
  common.pkrvars.hcl.example
Due: none

docs: update README
  README.md
Due: none

fix(ubuntu): missing EFI config
  ubuntu/22.04/ubuntu.pkr.hcl
Due: build-ubuntu2204
