Repository sneakyb1t/packer-proxmox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-debian12, build-ubuntu2204, build-rocky8, build-rocky9, build-rhel8, build-rhel9, build-coreos, build-flatcar

build-debian12:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: debian/12

build-ubuntu2204:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: ubuntu/22.04

build-rocky8:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: rocky/8.7

build-rocky9:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: rocky/9.2

build-rhel8:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: rhel/8.9

build-rhel9:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: rhel/9.3

build-coreos:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: coreos/38

build-flatcar:
  stage: build
  tags:
  - $RUNNER_TAG
  needs:
  - job: load_vars
  script:
  - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH
  variables:
    BUILD_PATH: flatcar/stable

fix(coreos): change config file
  coreos/38/coreos.pkr.hcl
Due: build-coreos

fix(coreos): syntax issue for ssh key
  coreos/38/coreos.pkr.hcl
Due: build-coreos

chore(doc): update readme
  README.md
Due: none

fix(vars): add private key var
  coreos/38/coreos.pkr.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/variables.pkr.hcl
  rhel/9.2/variables.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204, build-rocky8, build-coreos

feat: add variables to ignition files
  coreos/38/coreos.pkr.hcl
Due: build-coreos

fix: syntax issue for ssh key
  coreos/38/coreos.pkr.hcl
Due: build-coreos

fix(vars): add private key var
  coreos/38/coreos.pkr.hcl
Due: build-coreos

feat(rocky): use url instead of iso
  rocky/8.7/rocky.auto.pkrvars.hcl
  rocky/8.7/rocky.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/rocky.auto.pkrvars.hcl
  rocky/9.2/http/inst.ks.hcl
  rocky/9.2/openscap.sh
  rocky/9.2/rocky.auto.pkrvars.hcl
  rocky/9.2/rocky.pkr.hcl
  rocky/9.2/variables.pkr.hcl
Due: build-rocky8, build-rocky9

fix(ci): change template folders detection
  .gitlab-ci.yml
Due: none

feat(debian,ubuntu): use url instead of iso
  debian/11/debian.auto.pkrvars.hcl
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl
Due: build-ubuntu2204

feat(debian,ubuntu): use url instead of iso
  debian/11/debian.pkr.hcl
  debian/11/variables.pkr.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat(packer): update proxmox plugin
  .gitlab-ci.yml
  require.pkr.hcl
Due: none

fix(proxmox): storage pool type deprecation
  coreos/38/variables.pkr.hcl
  debian/11/debian.pkr.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/rhel.pkr.hcl
  rhel/8.7/variables.pkr.hcl
  rhel/9.2/rhel.pkr.hcl
  rhel/9.2/variables.pkr.hcl
  rocky/8.7/rocky.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.2/rocky.pkr.hcl
  rocky/9.2/variables.pkr.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204, build-rocky8, build-rocky9, build-coreos

feat(ci): run build job only on MR
  .gitlab-ci.yml
Due: none

fix(debian): add specific keyboard variable
  common.pkrvars.hcl.example
  debian/11/debian.pkr.hcl
  debian/11/variables.pkr.hcl
Due: none

fix(debian,ubuntu): add cloud-init parameter
  debian/11/debian.pkr.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
Due: build-ubuntu2204

fix: add cloud-init clean on debian based
  debian/11/debian.pkr.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
Due: build-ubuntu2204

fix(debian): prevent openscap script from removing cloud-init
  debian/11/openscap.sh
Due: none

feat(flatcar): add_flatcar_stable_support
  flatcar/stable/config/installer.ign.hcl
  flatcar/stable/flatcar.auto.pkrvars.hcl
  flatcar/stable/flatcar.pkr.hcl
  flatcar/stable/variables.pkr.hcl
Due: build-flatcar

feat(flatcar): update iso version
  flatcar/stable/flatcar.auto.pkrvars.hcl
  flatcar/stable/variables.pkr.hcl
Due: build-flatcar

fix(flatcar): update checksum
  flatcar/stable/flatcar.auto.pkrvars.hcl
Due: build-flatcar

feat(coreos): add variables to ignition files
  coreos/38/coreos.pkr.hcl
Due: build-coreos

fix(coreos): add private key var
  coreos/38/coreos.pkr.hcl
Due: build-coreos

feat(openscap): too much to explain
  debian/11/debian.pkr.hcl
  debian/11/http/ks.pkrtpl.hcl
  rocky/8.7/rocky.pkr.hcl
  rocky/9.2/rocky.pkr.hcl
  roles/openscap/README.md
  roles/openscap/defaults/main.yml
  roles/openscap/handlers/main.yml
  roles/openscap/meta/main.yml
  roles/openscap/tasks/main.yml
  roles/openscap/tasks/openscap.yml
  roles/openscap/tests/inventory
  roles/openscap/tests/test.yml
  roles/openscap/vars/coreos_38.yml
  roles/openscap/vars/debian_11.yml
  roles/openscap/vars/rhel.yml
  roles/openscap/vars/rhel_8.yml
  roles/openscap/vars/rhel_9.yml
  roles/openscap/vars/rocky_8.yml
  roles/openscap/vars/rocky_9.yml
  roles/openscap/vars/ubuntu_22.yml
  site.yml
  ubuntu/22.04/ubuntu.pkr.hcl
Due: build-ubuntu2204, build-rocky8, build-rocky9

fix: correct role logic but still not working
  debian/11/debian.auto.pkrvars.hcl
  debian/12/debian.auto.pkrvars.hcl
  debian/12/debian.pkr.hcl
  debian/12/http/ks.pkrtpl.hcl
  debian/12/openscap.sh
  debian/12/variables.pkr.hcl
  roles/openscap/tasks/main.yml
  roles/openscap/tasks/openscap.yml
  roles/openscap/vars/ubuntu_22.yml
Due: build-debian12

refactor(openscap): simplify variables logic
  roles/openscap/tasks/main.yml
Due: none

fix: adjust variables
  roles/openscap/defaults/main.yml
  roles/openscap/tasks/main.yml
  roles/openscap/tasks/openscap.yml
  roles/openscap/vars/debian_12.yml
  roles/openscap/vars/rhel_8.yml
  roles/openscap/vars/rhel_9.yml
  roles/openscap/vars/rocky_8.yml
  roles/openscap/vars/rocky_9.yml
  roles/openscap/vars/ubuntu_22.yml
Due: none

fix(openscap): wrong os names
  roles/openscap/defaults/main.yml
Due: none

feat: ansible openscap privisioning, redhat nok
  ubuntu/22.04/ubuntu.pkr.hcl
Due: build-ubuntu2204

fix: correct errors
  roles/openscap/tasks/openscap.yml
  roles/openscap/vars/ubuntu_22.yml
  ubuntu/22.04/ubuntu.pkr.hcl
Due: build-ubuntu2204

fix: correct some issues, ubuntu ok with openscap
  roles/openscap/tasks/openscap.yml
  roles/openscap/vars/debian_12.yml
  roles/openscap/vars/rocky_9.yml
Due: none

fix(openscap): correct some issues chore(rocky): change some default vars
  rocky/8.7/variables.pkr.hcl
  rocky/9.2/variables.pkr.hcl
  roles/openscap/tasks/openscap.yml
  site.yml
Due: build-rocky8, build-rocky9

refactor: remove useless dependencies
  roles/openscap/vars/ubuntu_22.yml
Due: none

Path conditions:
  build-debian12: any of: debian/12/**.hcl
  build-ubuntu2204: any of: ubuntu/22.04/**.hcl
  build-rocky8: any of: rocky/8.7/**.hcl
  build-rocky9: any of: rocky/9.2/**.hcl
  build-rhel8: any of: rhel/8.9/**.hcl
  build-rhel9: any of: rhel/9.3/**.hcl
  build-coreos: any of: coreos/38/**.hcl
  build-flatcar: any of: flatcar/stable/**.hcl
