Repository sneakyb1t/packer-proxmox: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-debian12, build-ubuntu2204, build-rocky8, build-rocky9, build-rhel8, build-rhel9, build-coreos, build-flatcar

.gitlab-ci.yml:

image:
  name: hashicorp/packer:1.10.0
  entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

variables:
  vars_file: "/home/gitlab-runner/data/secrets/packer-proxmox-vars.sh"

before_script:
  - packer --version
  - find . -maxdepth 2 -mindepth 2 -type d \( -not -path "./.git/*" -and -not -path "./roles/*" \) -exec packer init {} \;

stages:
  - prerequisites
  - validate
  - build

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS'
      when: never
    - if: $GITLAB_USER_ID == "120697"
      variables:
        RUNNER_TAG: "vle-home-shell"
    - if: $GITLAB_USER_ID == "3975485"
      variables:
        RUNNER_TAG: "sasal-home-shell"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH || $CI_COMMIT_TAG || $CI_OPEN_MERGE_REQUESTS'

# Template build for all OS
.template:build:
  stage: build
  tags: [$RUNNER_TAG]
  needs:
    - job: load_vars
  script:
    - packer build -force -var-file=common-ci.pkrvars.hcl $BUILD_PATH

# Load required variables for build
load_vars:
  stage: prerequisites
  tags: [$RUNNER_TAG]
  script:
    - |
      echo "Load vars file if present"
      [ -e $vars_file ] && set -a && . $vars_file || echo "no var file found"
      echo "Generate common vars file"
      envsubst < "common.pkrvars.hcl.example" > "common-ci.pkrvars.hcl"
  artifacts:
    untracked: true
    paths:
      - common-ci.pkrvars.hcl

# Validate syntax before trying to build
validate:
  stage: validate
  tags:
    - $RUNNER_TAG
  script:
    - find . -maxdepth 2 -mindepth 2 -type d \( -not -path "./.git/*" -and -not -path "./roles/*" \) |
      xargs -I {} bash -c "echo 'Validating {}' && packer validate -no-warn-undeclared-var -only=proxmox-iso* -var-file=common-ci.pkrvars.hcl {}"
  needs:
    - job: load_vars

# Build section for each OS
build-debian12:
  extends: .template:build
  variables:
    BUILD_PATH: "debian/12"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - debian/12/**.hcl

build-ubuntu2204:
  extends: .template:build
  variables:
    BUILD_PATH: "ubuntu/22.04"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - ubuntu/22.04/**.hcl

build-rocky8:
  extends: .template:build
  variables:
    BUILD_PATH: "rocky/8.7"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - rocky/8.7/**.hcl

build-rocky9:
  extends: .template:build
  variables:
    BUILD_PATH: "rocky/9.2"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - rocky/9.2/**.hcl

build-rhel8:
  extends: .template:build
  variables:
    BUILD_PATH: "rhel/8.9"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - rhel/8.9/**.hcl

build-rhel9:
  extends: .template:build
  variables:
    BUILD_PATH: "rhel/9.3"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - rhel/9.3/**.hcl

build-coreos:
  extends: .template:build
  variables:
    BUILD_PATH: "coreos/38"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - coreos/38/**.hcl

build-flatcar:
  extends: .template:build
  variables:
    BUILD_PATH: "flatcar/stable"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_OPEN_MERGE_REQUESTS'
      changes:
        - flatcar/stable/**.hcl

build_all:
  stage: build
  tags: [$RUNNER_TAG]
  script:
    - |
      for folder in $(find . -type d -name '[0-9]*' \( -not -path "./.git/*" -and -not -path "./roles/*" \)); do
        packer build -force -var-file=common-ci.pkrvars.hcl $folder
      done
  needs:
    - job: load_vars
  when: manual

feat(rocky): first rocky build
  rocky/9/http/inst.ks
  rocky/9/http/inst.ks.hcl
  rocky/9/rocky.auto.pkvars.hcl.example
  rocky/9/rocky.pkr.hcl
  rocky/9/variables.pkr.hcl
Due: none

refactor(rocky): add proxmox disk vars
  rocky/9/rocky.pkr.hcl
Due: none

refactor(rocky): add var, change int to str
  rocky/9/rocky.pkr.hcl
Due: none

refactor(rocky): reorganize rocky dir - fix ssh
  rocky/9.1/http/inst.ks.hcl
  rocky/9.1/rocky.auto.pkvars.hcl.example
  rocky/9.1/rocky.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  rocky/9/http/inst.ks
Due: none

fix(ubuntu): change default VM id value
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

change language of install value
  common.pkrvars.hcl.example
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

fix(ubuntu): change usr default size
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat(rocky): change to efi
  rocky/9.1/http/inst.ks.hcl
  rocky/9.1/rocky.pkr.hcl
Due: none

feat(debian): add debian 11 support
  debian/11/debian.auto.pkrvars.hcl.example
  debian/11/debian.pkr.hcl
  debian/11/http/ks.pkrtpl.hcl
  debian/11/variables.pkr.hcl
Due: none

feat(debian): change to ext4 - update debian 11.7
  debian/11/debian.auto.pkrvars.hcl.example
  debian/11/http/ks.pkrtpl.hcl
Due: none

feat(rocky): add efi - add cpu vars
  rocky/9.1/rocky.pkr.hcl
  rocky/9.1/variables.pkr.hcl
Due: none

refactor: use same variable file everywhere
  debian/11/variables.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

docs: add default vm vars
  common.pkrvars.hcl.example
Due: none

refactor: normalization
  debian/11/debian.auto.pkrvars.hcl.example
  debian/11/debian.pkr.hcl
  debian/11/http/ks.pkrtpl.hcl
  debian/11/variables.pkr.hcl
  rocky/9.1/rocky.auto.pkrvars.hcl.example
  rocky/9.1/rocky.auto.pkvars.hcl.example
  rocky/9.1/rocky.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl.example
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

fix: change memory values
  debian/11/variables.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

fix(rocky): change partitioning values and update
  rocky/9.1/http/inst.ks.hcl
  rocky/9.1/rocky.pkr.hcl
  rocky/9.1/variables.pkr.hcl
Due: none

feat: add rhel8 support
  debian/11/http/ks.pkrtpl.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/http/inst.ks.hcl
  rhel/8.7/rehl.auto.pkrvars.hcl.example
  rhel/8.7/rehl.pkr.hcl
  rhel/8.7/variables.pkr.hcl
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat: add packer init file docs: update README
  README.md
  common.pkrvars.hcl.example
  debian/11/debian.pkr.hcl
  require.pkr.hcl
  rhel/8.7/rehl.pkr.hcl
  rocky/9.1/rocky.pkr.hcl
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat: openscap with scan and remediation feature
  debian/11/debian.auto.pkrvars.hcl.example
  debian/11/debian.pkr.hcl
  debian/11/http/ks.pkrtpl.hcl
  debian/11/openscap.sh
  rhel/8.7/http/inst.ks.hcl
  rhel/8.7/openscap.sh
  rhel/8.7/rehl.auto.pkrvars.hcl.example
  rhel/8.7/rhel.pkr.hcl
  rhel/9.1/http/inst.ks.hcl
  rhel/9.1/openscap.sh
  rhel/9.1/rhel.pkr.hcl
  rhel/9.1/variables.pkr.hcl
  rocky/8.7/http/inst.ks.hcl
  rocky/8.7/openscap.sh
  rocky/8.7/rocky.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/openscap.sh
  rocky/9.1/rocky.auto.pkrvars.hcl.example
  rocky/9.1/rocky.pkr.hcl
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/openscap.sh
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl.example
Due: build-rocky8

feat: openscap scan and remediation feature for debian11
  debian/11/debian.pkr.hcl
  debian/11/openscap.sh
  rhel/8.7/rhel.pkr.hcl
  rhel/9.1/rhel.pkr.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
Due: build-ubuntu2204

Update README
  README.md
Due: none

feat: openscap ok except rhel(subscription)
  rhel/8.7/http/inst.ks.hcl
  rhel/9.1/openscap.sh
  rhel/9.2/http/inst.ks.hcl
  rhel/9.2/openscap.sh
  rhel/9.2/rhel.pkr.hcl
  rhel/9.2/variables.pkr.hcl
  rocky/8.7/http/inst.ks.hcl
  rocky/8.7/openscap.sh
  rocky/8.7/rocky.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/http/inst.ks.hcl
  rocky/9.1/openscap.sh
  rocky/9.1/rocky.pkr.hcl
  rocky/9.1/variables.pkr.hcl
Due: build-rocky8

refactor: remove auto files from gitignore fix(debian): change partitioning default feat: add default vars
  .gitignore
  debian/11/debian.auto.pkrvars.hcl
  debian/11/http/ks.pkrtpl.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/rhel.auto.pkrvars.hcl
  rhel/9.2/rhel.auto.pkrvars.hcl
  rocky/8.7/rocky.auto.pkrvars.hcl
  rocky/9.1/rocky.auto.pkrvars.hcl
  ubuntu/22.04/ubuntu.auto.pkrvars.hcl
Due: build-ubuntu2204, build-rocky8

feat: add coreos compatibility
  coreos/38/config/installer.bu
  coreos/38/config/installer.ign
  coreos/38/config/template.bu
  coreos/38/config/template.ign
  coreos/38/coreos.auto.pkrvars.hcl
  coreos/38/coreos.pkr.hcl
  coreos/38/variables.pkr.hcl
Due: build-coreos

feat(coreos): add ssh key var
  coreos/38/coreos.pkr.hcl
  coreos/38/variables.pkr.hcl
Due: build-coreos

fix(debian): change partitioning feat(ci): add code validation refactor: identation
  .gitlab-ci.yml
  debian/11/debian.pkr.hcl
  debian/11/http/ks.pkrtpl.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/variables.pkr.hcl
  rhel/9.2/variables.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/variables.pkr.hcl
Due: build-rocky8

docs: add ssh private key var in template
  common.pkrvars.hcl.example
Due: none

fix(debian): mix keyboard vm language locale
  debian/11/http/ks.pkrtpl.hcl
Due: none

refactor(openscap): update script and html reports
  debian/11/openscap.sh
  rocky/8.7/openscap.sh
  rocky/9.1/openscap.sh
  ubuntu/22.04/openscap.sh
Due: none

feat: templates for coreos config
  .gitignore
  README.md
  coreos/38/config/installer.bu.tpl
  coreos/38/config/template.bu.tpl
Due: none

docs: instructions for coreos config
  .gitignore
  README.md
  coreos/38/config/installer.bu.example
  coreos/38/config/template.bu.example
Due: none

feat(var): add boot_wait var
  coreos/38/coreos.pkr.hcl
  coreos/38/variables.pkr.hcl
  debian/11/debian.pkr.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/rhel.pkr.hcl
  rhel/8.7/variables.pkr.hcl
  rhel/9.2/rhel.pkr.hcl
  rhel/9.2/variables.pkr.hcl
  rocky/8.7/rocky.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/rocky.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204, build-rocky8, build-coreos

fix(debian): configure lang, timezone and locales
  common.pkrvars.hcl.example
  debian/11/debian.pkr.hcl
  debian/11/http/ks.pkrtpl.hcl
  debian/11/variables.pkr.hcl
Due: none

fix(ubuntu22): change locales
  ubuntu/22.04/http/user-data.pkrtpl.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204

feat(ci): change all ci refactor: change/add vars feat: copy pubkey in vm
  .gitlab-ci.yml
  common.pkrvars.hcl.example
  coreos/38/config/installer.bu.example
  coreos/38/config/template.bu.example
  coreos/38/coreos.auto.pkrvars.hcl
  coreos/38/coreos.pkr.hcl
  coreos/38/variables.pkr.hcl
  debian/11/debian.pkr.hcl
  rhel/8.7/rhel.pkr.hcl
  rhel/9.2/rhel.pkr.hcl
  rocky/8.7/rocky.pkr.hcl
  rocky/9.1/rocky.pkr.hcl
  ubuntu/22.04/ubuntu.pkr.hcl
Due: build-ubuntu2204, build-rocky8, build-coreos

chore(coreos): remove ign files
  coreos/38/config/installer.ign
  coreos/38/config/template.ign
Due: none

feat(ci): build template if modified
  .gitlab-ci.yml
  common.pkrvars.hcl.example
  coreos/38/coreos.pkr.hcl
  coreos/38/variables.pkr.hcl
  debian/11/variables.pkr.hcl
  rhel/8.7/variables.pkr.hcl
  rhel/9.2/variables.pkr.hcl
  rocky/8.7/variables.pkr.hcl
  rocky/9.1/variables.pkr.hcl
  ubuntu/22.04/openscap.sh
  ubuntu/22.04/variables.pkr.hcl
Due: build-ubuntu2204, build-rocky8, build-coreos

feat: add variables to ignition files feat: add installer ignition file
  .gitignore
  coreos/38/config/installer.ign.hcl
  coreos/38/config/template.ign.hcl
  coreos/38/coreos.pkr.hcl
Due: build-coreos
